{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About ME</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the Jungle</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/>
                <br/>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin mi ac sapien commodo lobortis. Vestibulum vitae nulla in mauris aliquet euismod nec vel lacus. Curabitur quis scelerisque diam. Ut sed massa dui. Pellentesque a scelerisque tellus. Mauris interdum ornare lectus et imperdiet. Praesent tincidunt risus sit amet nibh tincidunt, quis suscipit tellus porttitor. Vivamus et sapien lacinia ipsum placerat ultricies sit amet ut leo. Suspendisse aliquet tortor eu nulla rutrum dignissim. Pellentesque pharetra porta leo, quis rutrum ligula tincidunt nec. Integer malesuada magna sed ante posuere, ut convallis tellus congue.
                <br>
                Nunc sit amet ex et mauris maximus tempor id vel sem. Aenean venenatis dictum velit at varius. Vivamus vehicula leo sit amet consequat laoreet. Vivamus vitae urna lorem. Aliquam erat volutpat. Suspendisse porta mauris euismod porta laoreet. Curabitur quis pharetra nulla. Curabitur rhoncus efficitur ipsum id bibendum. Nunc nisi nulla, tincidunt a velit id, euismod faucibus erat. Integer nibh tellus, lacinia eget ipsum ac, blandit lacinia magna.
                <br>
                Suspendisse potenti. Suspendisse hendrerit, elit convallis ultricies tincidunt, odio lacus feugiat mi, mattis porta nisi metus at purus. Sed viverra sodales ante eu auctor. Mauris a tortor et magna commodo fermentum ut sit amet turpis. Proin vel massa magna. Maecenas convallis consequat condimentum. Duis at est at ex condimentum varius. Ut pharetra lacinia ante imperdiet laoree
                </p>
                <br/>
                <br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}